<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Forms').change(function () {

            /* Get the selected value of dropdownlist */
            var selectedID = $('#Forms').val();

            if (selectedID == 0){
                window.location.replace('/Documents');
            }
            else {
                /* Request the partial view with .get request. */
                $.get('/Documents/SelectedForm/' + selectedID, function (data) {

                    /* data is the pure html returned from action method, load it to your page */
                    $('#partialPlaceHolder').html(data);
                    /* little fade in effect */
                    $('#partialPlaceHolder').fadeIn('fast');
                });
            }
        });
    });
</script>

@model ClinicWebForm.Models.FormsViewModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="panel panel-default">
            <label for="Forms" class="control-label col-md-2">Forms </label>
            @Html.DropDownList("Forms", new SelectList(Model.Forms, "Id", "FormName"), htmlAttributes: new { @class = "form-control dropdown-toggle col-md-10" })
        </div>
    </div>
}
<br />
<div id="partialPlaceHolder" class="panel panel-default" style="display:none;"></div>