<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dropdown').change(function () {

            /* Get the selected value of dropdownlist */
            var selectedID = $('#dropdown').val();

            /* Request the partial view with .get request. */
            $.get('/Documents/SelectedForm/' + selectedID, function (data) {

                /* data is the pure html returned from action method, load it to your page */
                $('#partialPlaceHolder').html(data);
                /* little fade in effect */
                $('#partialPlaceHolder').fadeIn('fast');
            });

        });
    });
</script>

@model ClinicWebForm.Models.FormsViewModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <label>Form:</label>        
        <select id="dropdown" class="btn btn-default dropdown-toggle">
            <option value="0">Select</option>
            <option value="1">Household Registration</option>
            <option value="2">Individual Adult Health Record</option>
            <option value="3">Maternal and Child Health Record</option>
            <option value="4">Outreach Team Monthly Summary</option>
            <option value="5">Referral Form</option>
            <option value="6">Visit Tick</option>
        </select>
    </div>
}

<div id="partialPlaceHolder" class="panel panel-default" style="display:none;"></div>