<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Forms').change(function () {

            /* Get the selected value of dropdownlist */
            var selectedID = $('#Forms').val();

            /* Request the partial view with .get request. */
            $.get('/Documents/SelectedForm/' + selectedID, function (data) {

                /* data is the pure html returned from action method, load it to your page */
                $('#partialPlaceHolder').html(data);
                /* little fade in effect */
                $('#partialPlaceHolder').fadeIn('fast');
            });

        });
    });
</script>

@model ClinicWebForm.Models.FormsViewModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <label>Form:</label>
        @Html.DropDownList("Forms")
    </div>
}

<div id="partialPlaceHolder" class="panel panel-default" style="display:none;"></div>