@{
    ViewBag.Title = "Index";
}

<h2>Manage System</h2>

<div class="btn btn-default">
    @Html.ActionLink("Manage Clinics", "Index","Clinics")
</div>

<div class="btn btn-default">
    @Html.ActionLink("Manage Wards", "Index","Wards")
</div>

<div class="btn btn-default">
    @Html.ActionLink("Manage Questions", "Index", "Questions")
</div>